# Node.js
backend/node_modules/
backend/dist/
backend/.env

# Angular
frontend/node_modules/
frontend/dist/

# Docker
*.log

# Editor directories and files
.vscode/
.idea/

# Environment files
*.env

